*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}
header{
    width: 100%;
    height: 60px;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 130px;
    margin-right: 20px;
    color: white;
    transition: 0.3s;
}
.menu a:hover{
     color: blue;
}
.section1{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
   
}
.card1{
    width: 500px;
    background-color: deeppink;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 5px 15px gray,-5px -5px 15px gray;
}
.card1 .fa-brands{
    font-size: 50px;
    color: white;
    text-align: center;
    margin-left: 225px;
    margin-bottom: 20px;
}
.card1 h1{
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.card1 p{
    color: white;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 100px;
    
}
.card1 a{
    text-decoration: none;
    color: deeppink;
    padding: 10px 80px;
    background-color: white;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 30px;
    margin-left: 95px;
    margin-bottom: 30px;
    display: inline-block;
}
.card1 a:hover{
    color: black;
}
 
.card2{
width: 540px;
margin: 20px;
box-shadow: 5px 5px 15px gray,-5px -5px 15px gray;

}
.card2 img{
    width: 100%;
    height: 300px;
      
}
.card-des{
    padding: 20px;
}
.card-des a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: cadetblue;
    padding: 2px 20px;
    border-radius: 30px;
    color: white;
    margin-bottom: 20px;
    display: inline-block;
}
.card-des a:hover{
    color: black;
}
.card-des h3{
    width: 350px;
    margin-bottom: 20px;
}
.card-des p{
    line-height: 25px;
    margin-bottom: 30px;
}
.profile{
    display: flex;
}
.profile img{
    width: 50px;
    height: 50px;
   
}
.profile .profile-des{
    margin-left: 10px;
}

.section2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 500px;
    height: 500px;
    background-color: gray;
    margin: 20px;
    padding: 10px 20px;
}
.box{
    width: 500px;
    height: 500px;
    background-color: rgba(255, 20, 145, 0.824);
    border-radius: 50%;
    outline: 4px solid white;
    position: relative;
   
    
}
.box-title{
    position: absolute;
    top: 80px;
    left: 120px;
}
.box-title p{
    font-size: 25px;
    color: white;
    text-transform: uppercase;
   
}
.box-title h1{
    font-size: 60px;
    color: white;
}
.box-title h3{
    font-size: 30px;
    font-weight: 400;
    color: white;
}
.box-title h6{
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    color: white;
}

.box-input{
    position: absolute;
    top: 260px;
    left: 120px;
}
.box-input input{
    width: 250px;
    padding: 7px ;
    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.box-input a{
    text-decoration: none;
    background-color: white;
    padding: 4px 45px;
    margin-top: 5px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 20px;
    transition: 0.5s;
}
.box-input a:hover{
    color: black;
    font-weight: bold;
}
.box-input h6{
    text-transform: uppercase;
    text-align: center;
}
